<div class="span8 alert-message block-message warning">
	<p>
	Please 
	<a href="/request">authorize 500Editor to continue</a>.
	</p>
	<p>
	<strong>500Editor</strong> will use the access to load your existing 500px photos and add any saved photos you edit to your account.
	</p>
	<p class="alert-actions">
		<a class="btn" href="/request">Authorize 500Editor</a>
	</p>
</div>
